{% extends 'layouts/layout.html.twig' %}

{% block title %}Project Mercury{% endblock %}
{% block content %}
    <header>
        <h1 class="center"><strong><a href="#">Project Mercury</a></strong></h1>
        <nav>
            <ul>
                <li><a href="#introduction">Introduction</a></li>
                <li><a href="#creation">Creation</a></li>
                <li><a href="#legacy">Legacy</a></li>
            </ul>
        </nav>
    </header>
    <section id="introduction">
        <h3>Introduction</h3>
        <p>
            Project Mercury was the first human spaceflight program of the United States, running from 1959 through
            1963. An early highlight of the Space Race, its goal was to put a solo human into Earth orbit and return
            the person safely, ideally before the Soviet Union. Taken over from the US Air Force by the newly-created
            civilian space agency NASA, it spanned twenty unmanned developmental missions involving test animals and
            successful missions completed by six of the seven Mercury astronauts.
        </p>
        <p>
            The program took its name from the wing-footed, fleet god of travel in Roman mythology, and is estimated
            to have cost $1.73 billion (adjusted for inflation) and to have involved the work of 2 million people. The
            astronauts were collectively known as the "Mercury Seven", and each spacecraft was given a name ending
            with a "7" by its pilot.
        </p>
        <p>
            After a slow start riddled with humiliating mistakes, the Mercury Project gained popularity, its missions
            followed by millions on radio and TV around the world. Its success laid the groundwork for Project Gemini,
            which carried two astronauts in each capsule and perfected space docking maneuvers essential for lunar
            travel, and the subsequent Apollo Moon-landing program announced a few weeks after the first manned Mercury
            flight.
        </p>
    </section>
    <section id="creation">
        <h3>Creation</h3>
        <p>
            Project Mercury was officially approved on October 7, 1958 and publicly announced on December 17. Originally
            called Project Astronaut, President Dwight Eisenhower felt that gave too much attention to the pilot.
            Instead, the name Mercury was chosen from classical mythology, which had already lent names to rockets like
            the Greek Atlas and Roman Jupiter for the SM-65 and PGM-19 missiles. It absorbed military projects with the
            same aim, such as the Air Force Man In Space Soonest.
        </p>
        <p>
            Following the end of World War II, a nuclear arms race evolved between the US and the Soviet Union to
            develop long-range missiles. At the same time both sides also developed satellites for gathering weather
            data, communications, and intelligence, mostly in secret. As a result, Americans were shocked when the
            Soviet Union placed the first satellite into orbit in October 1957, followed by a growing fear that the US
            was falling into a Missile gap. A month later, the Soviets launched Sputnik 2, carrying a dog into orbit.
            Though the animal was not recovered alive, it was obvious their goal was manned spaceflight. Unable to
            disclose details of military space projects, President Eisenhower ordered the creation of a civilian space
            agency in charge of civilian and scientific space exploration. Based on the federal research agency National
            Advisory Committee for Aeronautics (NACA), it was renamed the National Aeronautics and Space Administration.
            It achieved its first goal, an American satellite in space, in 1958. The next goal was to put a man there.
        </p>
    </section>
    <section id="legacy">
        <h3>Impact & Legacy</h3>
        <p>
            The project was delayed by 22 months, counting from the beginning until the first orbital mission. It had a
            dozen prime contractors, 75 major subcontractors, and about 7200 third-tier subcontractors, who together
            employed two million persons. An estimate of its cost made by NASA in 1969 gave $392.6 million ($1.73
            billion adjusted for inflation), broken down as follows: Spacecraft: $135.3 million, launch vehicles: $82.9
            million, operations: $49.3 million, tracking operations and equipment: $71.9 million and facilities: $53.2
            million.
        </p>
        <p>
            Today the Mercury program is commemorated as the first manned American space program. It did not win the
            race against the Soviet Union, but gave back national prestige and was scientifically a successful precursor
            of later programs such as Gemini, Apollo and Skylab. During the 1950s, some experts doubted that manned
            spaceflight was possible. Still when John F. Kennedy was elected president, many including him had doubts
            about the project. As president he chose to support the programs a few months before the launch of Freedom
            7, which became a great public success. Afterwards, a majority of the American public supported manned
            spaceflight, and within a few weeks, Kennedy announced a plan for a manned mission to land on the Moon and
            return safely to Earth before the end of the 1960s. The six astronauts who flew were awarded medals, driven
            in parades and two of them were invited to address a joint session of the US Congress. As a response to the
            selection criteria, which ruled out women, a private project was founded in which 13 women pilots
            successfully underwent the same tests as the men in Project Mercury. It was named Mercury 13 by the media.
            Despite this effort, NASA did not select female astronauts until 1978 for the Space Shuttle.
        </p>
        <p>
            In 1964, a monument commemorating Project Mercury was unveiled near Launch Complex 14 at Cape Canaveral,
            featuring a metal logo combining the symbol of Mercury with the number 7. In 1962, the United States Postal
            Service honored the Mercury-Atlas 6 flight with a Project Mercury commemorative stamp, the first US postal
            issue to depict a manned spacecraft. The stamp first went on sale in Cape Canaveral, Florida on February 20,
            1962, the same day as the first manned orbital flight. On May 4, 2011, the Postal Service released a stamp
            commemorating the 50th anniversary of Freedom 7, the first manned flight of the project. On film, the
            program was portrayed in The Right Stuff a 1983 adaptation of Tom Wolfe's 1979 book of the same name. On
            February 25, 2011, the Institute of Electrical and Electronic Engineers, the world's largest technical
            professional society, awarded Boeing (the successor company to McDonnell Aircraft) a Milestone Award for
            important inventions which debuted on the Mercury spacecraft.
        </p>
    </section>
{% endblock %}
