html, body {
    box-sizing: border-box;
    width: 100%;
}

body {
    @include body-font(400);
    color: $black;
    font-size: 1.125em;
    margin: 0 auto;
    padding: 0;
}

h1,h2,h3,h4,h5,h6 {
    @include head-font(300);
    margin: 0;

    strong {
        font-weight: 400;
    }
}

header {
    @include head-font(300);
    text-align: center;
}

section {
    margin: 1em auto 2em auto;
    width: 60%;

    @media (max-width: 768px) {
        width: 80%;
    }

    @media (max-width: 480px) {
        width: 90%;
    }
}

footer p {
    @include head-font(300);
    font-size: 0.625em;
    margin: 1em auto 2em auto;
    text-align: center;
}

a {
    text-decoration: none;
    color: $black;
}
