nav {
    position: sticky;
}

nav ul {
    margin: 0.25em 0 2em 0;
    padding: 0;

    li {
        border-bottom: 1px solid $gray;
        display: inline;
        margin: 0 1em;

        @media (max-width: 768px) {
            margin: 0 0.5em;
        }
    }

    a {
        display: inline-block;
        width: 10%;

        @media (max-width: 768px) {
            width: 20%;
        }

        @media (max-width: 480px) {
            width: 25%;
        }
    }
}
