nav {
    li {
        display: inline;
        margin: 0 1em;

        @media (max-width: $max-tablet) {
            margin: 0 0.5em;
        }
    }

    .logo {
        margin: 0;
        opacity: 0;
        position: relative;
        width: 0;
        @include transition(all 0 ease);

        a {
            white-space: nowrap;
            width: 0;
            @include transition;
            @include transY(-50px);
        }
    }

    .mobile-home {
        display: none;
    }

    a {
        border-bottom: 1px solid rgba($gray, 0.5);
        display: inline-block;
        position: relative;
        width: 10%;

        &:after {
            background: $gray;
            bottom: 0;
            content: '';
            height: 1px;
            left: 0;
            position: absolute;
            width: 0;
        }

        &:hover {
            &:after {
                width: 100%;
                @include transition(all, 0.75s, linear);
            }
        }

        &.nav-small {
            width: 2.5%;

            @media (max-width: $max-mobile) {
                width: 5%;
            }
        }

        @media (max-width: $min-desktop) {
            width: 12%;
        }

        @media (max-width: $max-tablet) {
            width: 20%;
        }

        @media (max-width: $max-mobile) {
            width: 24%;
        }
    }
}

nav.fixed-nav {
    background: $white;
    box-shadow: 0 0 4px 0 rgba($black, .25);
    margin: 0;
    position: fixed;
    top: 0;
    width: 100%;

    ul {
        margin: 1em 0;
        overflow: hidden;
    }

    .logo {
        display: inline;
        margin: 0 1em;
        opacity: 1;
        width: 144px;

        a {
            border: none;
            display: inline-block;
            width: 10%;
            @include transY(0);
            // top: 0;

            @media (max-width: $med-desktop) {
                width: 16%;
            }
        }

        @media (max-width: $max-tablet) {
            display: none;
        }
    }

    .mobile-home {
        display: none;

        @media (max-width: $max-tablet) {
            display: inline;
            border: 0;
        }
    }
}
