<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <meta charset="utf-8">
            <link rel="shortcut icon" href="favicon.ico">
            <link rel="stylesheet" href="main.css">
            <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
            <title>{{ page_title }}</title>
        {% endblock %}
    </head>
    <body>
        {% block content %}{% endblock %}
        {% block footer %}
            <footer>
                <p>©{{ year }} Acme Inc. All rights reserved.</p>
            </footer>
        {% endblock %}
    </body>
</html>
